<!DOCTYPE html>
<html>
<head>
  <title>Simple Group</title>
  <%= css3buttons_stylesheets :include_reset => false %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div>
    <% if current_user %>
      <b><%= current_user.name %></b> 
      <a href="/logout">Logout</a> 
    <% end %>
  </div>
<%= yield %>

</body>
</html>
