<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body >
    <h1>Simple Group</h1>
    <b> <%= current_user.name  if current_user %></b>
    <hr />
    <table cellpadding='5px'>
      <tr ><td valign='top' >
          <%= render_navigation() %>
        </td>
        <td valign='top' >
          <%= yield %>
      </td></tr>
    </table>
  </body>
</html>
